<html>

<head>
<title>Title</title>
</head>

<body>

<p>This is an R HTML document. When you click the <b>Knit HTML</b> button a web page will be generated that includes both content as well as the output of any embedded R code chunks within the document. You can embed an R code chunk like this:</p>

<!--begin.rcode
Overview : This exercise to learn simple Statistical Inference by simulation and exploratory analysis.

# plotting package
library(ggplot)

# set seed for reproducible research

set.seed(22)
 
# set constants
# lambda for reg expression
lambda_c <- 0.2
# no of exponential

n <- 40 
# number of simulation
 no_of_simulation <- 1000
 
# simulation
simulated_exponentials <- replicate(no_of_simulation, rexp(n, lambda))

# calculate mean of exponentials
means_exponentials <- apply(simulated_exponentials, 2, mean)

# Test the properties of the distribution 

##Question 1
#Sample Mean versus Theoretical Mean:


### distribution of mean
distribution_mean <- mean(means_exponentials)
print("Distribution mean",distribution_mean)

# analytical mean
theory_mean <- 1/lambda
print("theoritical_mean", theory_mean)


# Exploratory analysis
# visualization
hist(means_exponentials, xlab = "mean", main = "Simulations of Exponential Function")
abline(v = distribution_mean, col = "red") 
abline(v = theory_mean, col = "orange")

##Answer: The centre of the distribution of analytical and theoritical_mean are very close.

# Sample Variance versus Theoretical Variance:

x_axis <- seq(min(means_exponentials), max(means_exponentials), length=100)
y_axis <- dnorm(xfit, mean=1/lambda, sd=(1/lambda/sqrt(n)))
hist(means_exponentials,breaks=n,prob=T,col="blue",xlab = "means",main="Density of means",ylab="Means density")
lines(x_axis, y_axis, pch=22, col="red", lty=3)

The distribution is normal, as  above 40 averages is close to normal distribution.
end.rcode-->

<p>You can also embed plots, for example:</p>

<!--begin.rcode fig.width=7, fig.height=6
plot(cars)
end.rcode-->

</body>
</html>
